/*  your css code here. If applicable */
#animal-photos{
	width:100%;
	
	background-color:#C1C1C1;
}
.ro{
	display:flex;
	width:80%;

	margin:10%;
	
}
.col{
	display:flex;  
/* 	border:2px solid yellow; */
	background-color:#444444;
	width:33.33%;
	flex-direction:column;
}
h1{
	text-align:center;
	color:#;
}
img{
	margin:10px;
	align-items:center;
}